.dates {
    /*border: 1px solid black;*/
    /*background: red;*/
}

.table {
        max-width: none;
    }

.table-scrollable{
    overflow: auto;
}

.cont-body {
    margin-left: 15px;
    margin-right: 10px;
}

.inbody{
    margin-top: 5px;
}

.inbody input.btn {
    margin-top: 22px;
}