{% extends "base.jinja2.html" %}

{% block content %}
<div class="col-md-4">
    <div class="login-panel panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Sign Up</h3>
        </div>
        <div class="panel-body">
            <form role="form" action="/signup" method="post">
                <fieldset>
                    {{form.hidden_tag()}}
                    <div class="form-group">
                    <span style="color: red;">{{form.errors.login|first}}</span>
                    {{form.login.label}}{{form.login(size=30, class_="form-control", placeholder="Your nickname", autofocus="")}}<br>
                    <span style="color: red;">{{form.errors.email|first}}</span>
                    {{form.email.label}}{{form.email(size=30, class_="form-control", placeholder="Your email", autofocus="")}}<br>
                    {{form.country.label}}{{form.country(class_="form-control", placeholder="E-mail", autofocus="")}}<br>
                    </div>
                    <span style="color: red;">{{form.errors.password|first}}</span>
                    <div class="form-group">
                    {{form.password.label}}{{form.password(size=30, class_="form-control", placeholder="Password")}}<br>
                    </div>
                    <div class="form-group">
                    {{form.confirm.label}}{{form.confirm(size=30, class_="form-control", placeholder="Confirm password")}}<br>
                    </div>

                    <div class="form-group">
                    <span style="color: red;">{{form.errors.recaptcha|first}}</span>
                    {{form.recaptcha}}<br>
                    </div>
                    <br>
                    <input class="btn btn-sm btn-success" type="submit" name="submit" value="Sign Up">
                </fieldset>
            </form>
        </div>
    </div>
</div>
{% endblock %}