<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form method="post" action="/user/edit">
<table>
    <tbody>
    <tr><td>nickname :</td><td> {{ userdata.username }}</td></tr>
    <tr>
        <td>stream :</td>
        <td>
            {{form.stream}}
        </td>
    </tr>
    <tr><td>from :</td>
        <td>
            {{form.from_full}}
        </td>
    </tr>
    <tr><td>interview_location :</td>
        <td>
            {{form.interview_location}}
        </td>
    </tr>
    <tr>
        <td>interview_date :</td>
        <td>
            {{form.interview_date}}

        </td>
    </tr>
    <tr><td>invitation_to_apply_date :</td>
        <td>
            {{form.invitation_to_apply_date}}
        </td>
    </tr>
    <tr><td>mpnp_file_date :</td>
        <td>
            {{form.mpnp_file_date}}
        </td>
    </tr>
    <tr><td>mpnp_request_additional_docs_date :</td>
        <td>
            {{form.mpnp_request_additional_docs_date}}
        </td>
    </tr>
    <tr><td>mpnp_nomination_date :</td>
        <td>
            {{form.mpnp_nomination_date}}
        </td>
    </tr>
    <tr><td>cio_received_date :</td>
        <td>
            {{form.cio_received_date}}
        </td>
    </tr>
    <tr><td>cio_processing_fee_date :</td>
        <td>
            {{form.cio_processing_fee_date}}
        </td>
    </tr>
    <tr><td>cio_file_number :</td>
        <td>
            {{form.cio_file_number}}
        </td>
    </tr>
    <tr><td>embassy :</td>
        <td>
            {{form.embassy}}
        </td>
    </tr>
    <tr><td> ecas_recieved :</td>
        <td>
            {{form.ecas_recieved}}
        </td>
    </tr>
    <tr><td>ecas_in_process :</td>
        <td>
            {{form.ecas_in_process}}
        </td>
    </tr>
    <tr><td>ecas_additional_documents_request1 :</td>
        <td>
            {{form.ecas_additional_documents_request1}}
        </td>
    </tr>
    <tr><td>ecas_medical_forms :</td>
        <td>
            {{form.ecas_medical_forms}}
        </td>
    </tr>
    <tr><td>ecas_medical_exam_passed :</td>
        <td>
            {{form.ecas_medical_exam_passed}}
        </td>
    </tr>
    <tr><td>ecas_medical_results_received :</td>
        <td>
            {{form.ecas_medical_results_received}}
        </td>
    </tr>
    <tr><td>ecas_additional_documents_request2 :</td>
        <td>
            {{form.ecas_additional_documents_request2}}
        </td>
    </tr>
    <tr><td>povl_date :</td>
        <td>
            {{form.povl_date}}
        </td>
    </tr>
    <tr><td></td><td><input type="submit" value="Save"/></td></tr>
    </tbody>
</table>
</form>

</body>
</html>