{% extends "base.html" %}

{% block content %}
<form method="post" action="/user/edit">
<table class="table table-condensed">
    <tbody>
    <tr><td><label class="col-sm-3 control-label">Nickname</label></td><td> <p class="form-control-static">{{ userdata.username }}</p></td></tr>
    <tr>
        <td><label class="col-sm-3 control-label">Stream</label></td>
        <td>
            {{form.stream(class_='form-control')}}
        </td>
    </tr>
    <tr><td><label class="col-sm-3 control-label">Your country</label></td>
        <td>
            {{form.from_full(class_='form-control')}}
        </td>
    </tr>
    <tr><td><label class="col-sm-3 control-label">interview_location </label></td>
        <td>
            {{form.interview_location(class_='form-control')}}
        </td>
    </tr>
    <tr>
        <td><label class="col-sm-3 control-label">interview_date </label></td>
        <td>
            {{form.interview_date(class_='date')}}

        </td>
    </tr>
    <tr><td><label class="col-sm-3 control-label">invitation_to_apply_date</label></td>
        <td>
            {{form.invitation_to_apply_date(class_='date')}}
        </td>
    </tr>
    <tr><td><label class="col-sm-3 control-label">mpnp_file_date</label></td>
        <td>
            {{form.mpnp_file_date(class_='date')}}
        </td>
    </tr>
    <tr><td><label class="col-sm-3 control-label">mpnp_request_additional_docs_date</label></td>
        <td>
            {{form.mpnp_request_additional_docs_date(class_='date')}}
        </td>
    </tr>
    <tr><td><label class="col-sm-3 control-label">mpnp_nomination_date</label></td>
        <td>
            {{form.mpnp_nomination_date(class_='date')}}
        </td>
    </tr>
    <tr><td><label class="col-sm-3 control-label">cio_received_date</label></td>
        <td>
            {{form.cio_received_date(class_='date')}}
        </td>
    </tr>
    <tr><td><label class="col-sm-3 control-label">cio_processing_fee_date</label></td>
        <td>
            {{form.cio_processing_fee_date(class_='date')}}
        </td>
    </tr>
    <tr><td><label class="col-sm-3 control-label">cio_file_number</label></td>
        <td>
            {{form.cio_file_number(class_='date')}}
        </td>
    </tr>
    <tr><td><label class="col-sm-3 control-label">embassy</label></td>
        <td>
            {{form.embassy(class_='form-control')}}
        </td>
    </tr>
    <tr><td> <label class="col-sm-3 control-label">ecas_recieved</label></td>
        <td>
            {{form.ecas_recieved(class_='date')}}
        </td>
    </tr>
    <tr><td><label class="col-sm-3 control-label">ecas_in_process</label></td>
        <td>
            {{form.ecas_in_process(class_='date')}}
        </td>
    </tr>
    <tr><td><label class="col-sm-3 control-label">ecas_additional_documents_request1</label></td>
        <td>
            {{form.ecas_additional_documents_request1(class_='date')}}
        </td>
    </tr>
    <tr><td><label class="col-sm-3 control-label">ecas_medical_forms</label></td>
        <td>
            {{form.ecas_medical_forms(class_='date')}}
        </td>
    </tr>
    <tr><td><label class="col-sm-3 control-label">ecas_medical_exam_passed</label></td>
        <td>
            {{form.ecas_medical_exam_passed(class_='date')}}
        </td>
    </tr>
    <tr><td><label class="col-sm-3 control-label">ecas_medical_results_received</label></td>
        <td>
            {{form.ecas_medical_results_received(class_='date')}}
        </td>
    </tr>
    <tr><td><label class="col-sm-3 control-label">ecas_additional_documents_request2</label></td>
        <td>
            {{form.ecas_additional_documents_request2(class_='date')}}
        </td>
    </tr>
    <tr><td><label class="col-sm-3 control-label">povl_date</label></td>
        <td>
            {{form.povl_date(class_='date')}}
        </td>
    </tr>
    <tr><td></td><td>
        <input class="btn btn-success" type="submit" value="Save"/>
    </td></tr>
    </tbody>
</table>
</form>
<script>
    $(function(){
        $('.date').datepicker({ dateFormat: 'dd/mm/yy' });
    });
</script>
{% endblock %}