{% extends "base.jinja2.html" %}

{% block content %}
    {% if current_user.is_authenticated() %}
        {% if not email_conf %}
            <div class="alert alert-warning" role="alert">Your email address have not confirmed. Please <a href="/user/req_confirm/{{ g.user.id }}" class="alert-link">confirm</a> it to be able to recover you password</div>
        {% else %}
            <div class="alert alert-warning" role="alert">Your confirmation link sent but still not activated. <a href="/user/req_confirm/{{ g.user.id }}" class="alert-link">Resend</a> it?</div>
        {% endif %}
    {% endif %}

<table class="table table-condensed table-hover">
    <tbody>
    <tr><td>Nickname :</td><td> {{ userdata.username }}</td></tr>
    <tr><td>Stream :</td><td> {{ userdata.stream }}</td></tr>
    <tr><td>From :</td><td> {{ userdata.from_full }}</td></tr>
    <tr><td>Interview location :</td><td> {{ userdata.interview_location }}</td></tr>
    <tr><td>Interview date :</td><td> {{ userdata.interview_date }}</td></tr>
    <tr><td>Invitation to apply date :</td><td> {{ userdata.invitation_to_apply_date }}</td></tr>
    <tr><td>MPNP request additional docs date :</td><td> {{ userdata.mpnp_request_additional_docs_date }}</td></tr>
    <tr><td>MPNP nomination date :</td><td> {{ userdata.mpnp_nomination_date }}</td></tr>
    <tr><td>CIO received date :</td><td> {{ userdata.cio_received_date }}</td></tr>
    <tr><td>CIO processing fee date :</td><td> {{ userdata.cio_processing_fee_date }}</td></tr>
    <tr><td>CIO file number :</td><td> {{ userdata.cio_file_number }}</td></tr>
    <tr><td>Embassy :</td><td> {{ userdata.embassy }}</td></tr>
    <tr><td>ECAS recieved :</td><td> {{ userdata.ecas_recieved }}</td></tr>
    <tr><td>ECAS in process :</td><td> {{ userdata.ecas_in_process }}</td></tr>
    <tr><td>ECAS additional documents request  :</td><td> {{ userdata.ecas_additional_documents_request1 }}</td></tr>
    <tr><td>ECAS medical forms :</td><td> {{ userdata.ecas_medical_forms }}</td></tr>
    <tr><td>ECAS medical exam passed :</td><td> {{ userdata.ecas_medical_exam_passed }}</td></tr>
    <tr><td>ECAS medical results received :</td><td> {{ userdata.ecas_medical_results_received }}</td></tr>
    <tr><td>ECAS additional documents request2 :</td><td> {{ userdata.ecas_additional_documents_request2 }}</td></tr>
    <tr><td>POVL date :</td><td> {{ userdata.povl_date }}</td></tr>
    <tr><td>
        {% if g.user.username == userdata.username %}
        <a class="btn btn-info" href="/user/edit">Edit</a>
        {% endif %}
    </td><td>{{g.user.username}}:{{userdata.username}}</td></tr>
    </tbody>
</table>
{% endblock %}